[submodule "bundle/mustache"]
	path = pack/yuzeh/start/mustache
	url = git://github.com/mustache/vim-mode.git
[submodule "bundle/vim-repeat"]
	path = pack/yuzeh/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/nerdtree"]
	path = pack/yuzeh/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fireplace"]
	path = pack/yuzeh/start/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-airline"]
	path = pack/yuzeh/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/yuzeh/start/flattened"]
	path = pack/yuzeh/start/flattened
	url = https://github.com/romainl/flattened.git
[submodule "pack/yuzeh/start/vim-polyglot"]
	path = pack/yuzeh/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/yuzeh/start/ale"]
	path = pack/yuzeh/start/ale
	url = https://github.com/w0rp/ale.git
